button {
  background: #DB4444;
  color: #fff;
  padding: 15px 20px;
  border-radius: 8px;
}

button:hover{
  background: #db4444b9;
  color: #fff;
}

.form-control{
  border-radius: 5px;
}

.profile-img {
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #db4444;
  /* margin-bottom: 10px; */
}
