<footer class="pt-5">
  <div class="container g-0">
    <div class="row rows-cols-2 d-flex justify-content-between">
      <div class="col-sm-6 col-lg-3">
        <div class="info">
          <h1>Exclusive</h1>
          <h4 class=" my-2">Subscribe</h4>
          <p>Get 10% off your first order</p>
          <div class="position-relative">
            <input type="text" placeholder="Enter Your email" class="bg-light border border-1 border-white form-control border-0 ps-2">
            <a routerLink="signup" ><i class="fa-solid fa-share position-absolute top-50 end-0 translate-middle text-dark"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 p-sm-3">
        <div class="Account">
          <h4 class="text-light"> Account</h4>
          <ul class="list-unstyled lh-lg">
            <li><a class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover" routerLink="profile">My Account</a></li>
            <li><a class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover" routerLink="signup">Login/Register</a></li>
            <li><a class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover" routerLink="cart">Cart</a></li>
            <li><a class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover" routerLink="wishlist">Wishlist</a></li>
            <li><a class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover" routerLink="products">Shop</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 p-sm-3">
        <div class="support">
          <h4 class="text-light">Support</h4>
          <ul class="list-unstyled lh-lg">
            <li>111 Bijoy Sarani, Dhaka, DH 1515, Bangladesh.</li>
            <li>exclusive&#64;gmail.com</li>
            <li>+88015-88888-9999</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 p-sm-3">
        <div class="Quick">
          <h4 class="text-light"> Quick Link</h4>
          <ul class="list-unstyled lh-lg">
            <li>Privacy Policy</li>
            <li>Terms Of Use</li>
            <li>FAQ</li>
            <li>Contact</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="text-white-50  text-center border-top border-dark">
    <p class="py-3 m-0">&copy;Copyright Rimel 2022 All right reserved</p>
  </div>

</footer>
